* {
  font-family:Roboto,Helvetica,Verdana,sans-serif;
}

a,.mw-body a.external,div#mw-panel div.portal div.body ul li a,.mw-body a.extiw, .mw-body a.extiw:active {
  color:#2196F3
}

a:visited,div#mw-panel div.portal div.body ul li a:visited,.mw-body a.extiw:visited {
	color:#7E57C2
}

.mw-editsection-bracket {
  display:none
}

#mw-page-base,.catlinks {
  background:transparent!important
}

div.vectorTabs li a {
  color:#000;
  padding-left:1.5em;
  padding-right:1.5em
}

span.mw-editsection a {
  font-size:0
}

span.mw-editsection a:after {
  font-size:18px;
  font-family:"Material";
  content:"\e3c9"
}

li {
  display:block
}

.toc .toctoggle {
  font-size:0
}

.toc #togglelink {
  transition:transform 0.3s;
  display:inline-block
}

.toc #togglelink:focus {
  text-decoration:none;
  outline:none
}

.toc #togglelink:after {
  font-size:24px;
  font-family:"Material";
  content:"\e316"
}

.toc.tochidden #togglelink {
  transform: rotateZ(180deg);
}

h1,h2,h3,h4,h5,h6 {
  border-bottom:0
}

.infobox th,div.NavFrame div.NavHead {
  font-weight:500
}

.infobox td {
  font-weight:400
}

.catlinks,table.fmbox,.template-documentation {
  border:0!important
}

.catlinks li {
  border-left:0
}

#toc, .toc, .mw-warning, .toccolours, .plainlist[role="note"] {
  border:0!important;
  box-shadow:0 3px 8px rgba(0,0,0,0.5);
  background:#fff
}

.mw-body #toc h2, .mw-body .toc h2 {
  vertical-align:middle;
  font-family:Roboto;
  font-weight:500
}

div.vectorTabs li {
  background:#fff!important;
  color:#444!important;
  border-bottom:0 solid transparent
}

div#mw-panel div.portal h3,div.vectorTabs li {
	font-weight:500;
	text-transform:uppercase
}

div.vectorTabs li a,div#mw-panel div.portal h3 {
  color:#444!important
}

div.vectorTabs li.selected a {
  color:#2196F3!important
}

div.vectorTabs li.selected {
  color:#2196F3!important;
  border-bottom:4px solid #2196F3
}

.mw-body,#left-navigation,#right-navigation {
  border:0;
  box-shadow:0 3px 8px rgba(0,0,0,0.5);
  background:#fff
}

.infobox,table.wikitable,table.wikitable > tr > th, table.wikitable > tr > td, table.wikitable > * > tr > th, table.wikitable > * > tr > td {
  border:0!important;
  padding:0.4em 0.7em
}

tbody > tr:first-child,div.thumbinner {
  box-shadow:0 2px 5px rgba(0,0,0,0.5)
}

tbody > tr:not([style="height: 2px; display: table-row;"]) {
  box-shadow:0 1px 2px rgba(0,0,0,0.5)
}

.mw-body h3, .mw-body h4 {
  font-weight:500
}

.infobox {
  background:transparent!important
}

p {
  line-height:1.8em!important
}

.infobox th {
  padding:0.4em
}

div.vectorTabs span,div.vectorTabs,div#mw-panel div.portal {
	background-image:none!important;
	padding-left:0!important
}

.mw-body h1, .mw-body h2 {
	font-family:"RobotoSlab"!important
}

#siteSub {
	font-size:0
}

#siteSub:after {
	font-size:14px;
	content:"Wikipedia, the free encyclopedia"
}

.navbox th, .navbox-title,div#simpleSearch {
	background:#fff!important
}

.navbox {
	border:0
}

div#simpleSearch #searchInput {
	-webkit-appearance:none!important
}

div#simpleSearch {
	border:0;
}

div.thumbinner {
	border:0;
	background:transparent
}

.mw-content-ltr div.magnify a {
	background-image:none
}

.navbox-even {
	background:transparent!important
}

table.plainlinks[style="border:1px solid #aaa;background-color:#f9f9f9"] {
	border:0!important;
	background-color:transparent!important
}

.mw-body .external {
	background-image:none
}

.portal[style="margin:0.5em 0 0.5em 1em;border:solid #aaa 1px"] {
	border:0!important;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	padding:5px;
}

.portal[style="margin:0.5em 0 0.5em 1em;border:solid #aaa 1px"]>ul {
	background:transparent!important
}

.mw-body .external:after {
	font-family:"Material";
	content:"\e89e";
	padding-left:6px;
	height:100%;
	font-size:14px;
	vertical-align:middle
}

.mw-cite-backlink a {
	font-size:0;
}


.mw-cite-backlink a:after {
	font-size:16px;
	content:"\e5d8";
	font-family:"Material";
	vertical-align:middle;
	padding-right:8px;
	height:100%;
}

.citation {
	vertical-align:middle
}

table.ombox-content,table.ambox-content {
  color:#fff;
  background:#FF9800;
  border:0
}

table.ombox-content a,table.ambox-content a {
  color:#fff!important;
  opacity:0.7
}

.mbox-image>img[src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Ambox_important.svg/40px-Ambox_important.svg.png"] {
  box-sizing:border-box;
  padding-left:40px;
}

.mbox-image>img[src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Ambox_important.svg/40px-Ambox_important.svg.png"]:after {
  font-family:"Material";
  content:"\e002"
}

#mp-topbanner {
	background:transparent!important;
	border:0!important;
	box-shadow:none!important
}

#mp-topbanner>tbody>tr {
	box-shadow:none
}

#mp-itn-h2,#mp-tfa-h2,#mp-dyk-h2,#mp-otd-h2,#mp-tfp-h2,.MainPageBG {
  background:transparent!important;
  border:0!important
}

a[href="/wiki/File:Essay.svg"],a[href="/wiki/File:Question_book-new.svg"] {
  opacity:1!important
}

a[href="/wiki/File:Essay.svg"]>img,a[href="/wiki/File:Question_book-new.svg"]>img {
  display:none!important
}

a[href="/wiki/File:Essay.svg"]:after,a[href="/wiki/File:Question_book-new.svg"]:after {
  font-family:"Material";
  color:#fff;
  font-size:36px
}

a[href="/wiki/File:Question_book-new.svg"]:after {
  content:"\e52d"
}

a[href="/wiki/File:Essay.svg"]:after {
  content:"\e24d";
  color:#000
}

.mw-redirectedfrom {
  font-size:0
}

.mw-redirectedfrom a:before {
  font-family:"Material";
  content:"\e157";
  vertical-align: middle;
  margin-bottom: 2px;
  display: inline-block;
  margin-right: 5px;
}

.mw-redirectedfrom a {
  font-size:16px;
  vertical-align:middle
}

table.ombox-notice {
  background:#fff;
  border:0
}

/*img[src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Walnut.png/30px-Walnut.png"] {
  box-sizing:bord/*er-box;
  padding-top:30px;
  overflow:hidden
}*/
